#game {
    text-align: center;
    margin-top: 50px;
}

#game-board {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.game-button {
    width: 50%;
    height: 50%;
    float: left;
    opacity: 0.6;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}
